.git-backups/
backend/
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv
env/
venv/
myvenv/
env.bak/
venv.bak/
node_modules/
.vite/
*.db
db.sqlite3
local_settings.py
*.log
.DS_Store
Thumbs.db
